.education {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.education li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.education li .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
}